<%= form_with(model: evaluation, local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= collection_select(:evaluation, :group_id, Group.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :assignment_id %>
    <%= collection_select(:evaluation, :assignment_id, Assignment.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>


  <%= form.fields_for :evaluation_scores do |ff| %>
    <div style="border: 1px solid black">
      <div class="field">
        <%= ff.label :user_id %>
        <%= ff.collection_select(:user_id, @users, :id, :name) %>
      </div>

      <div class="field">
        <%= ff.label :comment %>
        <%= ff.text_area :comment %>
      </div>

      <div class="field">
        <%= ff.label :score %>
        <%= ff.number_field :score %>
      </div>  
    </div>
  <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
