<p id="notice"><%= notice %></p>

<h1>Evaluations List</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <td></td>
      <th>Group</th>
      <td></td>
      <th>Assignment</th>
      <td></td>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.user.name %></td>
        <td></td>
        <td><%= evaluation.group.name %></td>
        <td></td>
        <td><%= evaluation.assignment.name %></td>
        <td></td>
        <td><%= evaluation.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<p>
Students, if you are looking to create a new evaluation, head to "Home" and look for the New Evaluation link.
<br><br>
Instructors, if you are looking for individual ratings/scores and comments with an evaluation, head to the "Groups" tab.<br>
From there, See Details of a specific group in order to view all evaluations.


