<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @evaluation.user.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @evaluation.group.name %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @evaluation.assignment.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
