<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @user_group.userId %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @user_group.groupId %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
