<%= form_with(model: group, local: true) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <h3>Users</h3>
  <div id="users">
    <%= f.fields_for :user_groups do |user_group| %>
      <%= render 'user_group_fields', :f => user_group %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add user', f, :user_groups %>
    </div>
  </div>

  

  <div class="actions">

    <%= form.submit "Confirm", :class => "btn btn-primary" %>
    <%= link_to 'Back', groups_path, :class => "btn btn-default" %>

  </div>
<% end %>
