<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Number of Members</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>

      <td><%= group.name %></td>
      <td><%= group.user_group_ids.length %></td>

      <td>
          <%= link_to 'Show Details', group, :class => "btn btn-default" %>
          <%= link_to 'Edit Name/Users', edit_group_path(:id => group.id), :class => "btn btn-primary" %>
          <%= link_to 'Delete Group', group, method: :delete, data: { confirm: 'Are you sure you want to delete ' + group.name + '?'}, :class => "btn btn-danger" %> 
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Group', new_group_path, :class => "btn btn-primary"  %>
