<p id="notice"><%= notice %></p>
  <h1><%= @group.name %></h1>
  <h2><strong>Members:</strong></h2>
  <% if @group.user_group_ids.length == 0 %>
    <%= "There are currently no members in this group." %>
  <% else %>
    <% @group.users.each do |user| %>
      <%= user.name %>
    <% end %>
  <% end %><br>
    <h2><strong>Evaluations:</strong></h2>
    <div class="group-evaluation">
      <% @group.evaluations.each do |evaluation| %>
        <p>
          <label>Author</label>
          <span><%= evaluation.user.name %></span>
        </p>
        <p>
          <label>Assignment</label>
          <span><%= evaluation.assignment.name %></span>
        </p>
        <p>
          <label>Overall Comment</label>
          <span><%= evaluation.comment %></span>
        </p>
        <label>Scores</label>
        <table>
          <% evaluation.evaluation_scores.each do |evaluation_score| %>
              <tr>
                <td> <%= evaluation_score.user.name %> </td>
                <td> <%= evaluation_score.score %> </td>
                <td> <%= evaluation_score.comment %> </td>
              </tr>
          </tr>
        <% end %>
        </table>
      <% end %>
    </div>
  <%= link_to 'Add Member to Group', new_user_group_path(:group_id => @group.id), :class => "btn btn-primary" %> |
<%= link_to 'Edit Group Name', edit_group_path(@group), :class => "btn btn-default" %> |
<%= link_to 'Go Back', groups_path, :class => "btn btn-default" %>