<h1>Peer Evaluations</h1>
<h3>by The Techbenders</h3>

Links:
<ol>
    <li>
        <%= link_to 'New Evaluation', new_evaluation_path %>
    </li>
    <li>
        <%= link_to 'TODO: Integrate this into Evaluation -> New Evaluation Score', new_evaluation_score_path %>
    </li>
    <li>
        <%= link_to 'View Evaluations', new_evaluation_score_path %>
    </li>
    <li>
        <%= link_to 'Create Group', new_group_path %>
    </li>
    <li>
        <%= link_to 'Add User to Group', new_user_group_path %>
    </li>
</ol>

<div>
    <%= link_to 'SIGN UP', new_user_path, :class => "button text-center" %>

</div>